
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
      @apply m-0 p-0 box-border text-base duration-100;
  }

  html{
      @apply overflow-x-hidden;
  }

  body {
      @apply  font-normal text-black;
  }

  i {
      @apply mt-0.5;
  }

  section{
      @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
  }

  

  img{
      @apply w-full h-full object-cover;
  }
  /* flex  items-center h-16 bg-white text-black relative shadow-sm px-10 w-full */

  .navbar{
      @apply z-10 sticky justify-between top-0 flex items-center gap-12 w-full px-[5vw] py-4 h-[70px] border-b bg-white;
  }

  .h-cover{
      @apply min-h-[calc(100vh-80px)];
  }

  .center{
      @apply block mx-auto;
  }

  .btn-dark{
      @apply whitespace-nowrap bg-black text-white rounded-full py-3 px-6 text-xl capitalize hover:bg-opacity-80;
  }

  .btn-light{
      @apply btn-dark bg-gray-100 text-black;
  }

  .input-box {
      @apply w-[100%] rounded-md p-4  pl-12 border  focus:bg-transparent placeholder:text-slate-500;
  }

  input:disabled, input:disabled ~ .input-icon{
      @apply opacity-50;
  }

  .input-icon{
      @apply absolute left-4 top-1/2 -translate-y-1/2;
  }

  .link{
      @apply  hover:text-black p-3 px-4 block opacity-75;
  }

  .hide{
      @apply opacity-0 pointer-events-none duration-100;
  }

  .show{
      @apply opacity-100 pointer-events-auto;
  }

  .sidebar-link{
      @apply flex gap-4 items-center py-5 text-dark-grey hover:text-black;
  }

  .sidebar-link.active{
      @apply text-black border-r-2 border-black pl-6  -ml-6 md:rounded-tl-lg md:rounded-bl-lg max-md:border-none ;
  }

  #textEditor h2, h2{
      @apply  text-4xl leading-normal font-bold max-md:text-3xl max-md:leading-snug !important;
  }

  #textEditor h3, h3 {
      @apply  text-3xl leading-loose max-md:text-2xl max-md:leading-normal !important;
  }

  #textEditor *, .blog-page-content *{
      @apply  text-xl leading-10 md:text-2xl;
  }

  #textEditor a, .blog-page-content a{
      @apply  underline hover:opacity-50;
  }

  .tag{
      @apply p-3 rounded-full px-6 capitalize;
  }

  .blog-title{
      @apply text-2xl font-medium leading-7 line-clamp-3 sm:line-clamp-2;
  }

  .blog-index{
      @apply text-4xl sm:text-3xl lg:text-5xl font-bold text-grey leading-none;
  }
}
.navlinks {
  @apply hover:bg-slate-100 p-2 w-full  rounded-lg hover:text-slate-500 md:p-0 md:hover:bg-inherit md:w-auto  transition duration-200 ease-in-out  ;
  
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.buttons-container h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.btn.test-completed::after,
.btn.test-completed::before {
  content: "category";
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.5;

  transition: all 400ms;
  top: 0;
}

.btn.btn.test-completed:hover::after {
  top: -36px;
}

.btn.test-completed::before {
  content: "add to favorites";
  top: 36px;
}

.btn.btn.test-completed:hover::before {
  top: 0;
}
.dropdownProfil{
    position: absolute;
    top: 4.5rem;
    right: 4.3rem;
    width: 120px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: white;
    border: 2px solid gray;
}
.dropdownProfil::before{
    content: "";
    position: absolute;
    top: -0.7rem;
    right: 2rem;
    width: 20px;
   height: 20px;
   transform:rotate(45deg);
   background-color: white;
   border-left:2px solid gray; 
    border-top:2px solid gray;
}

/* slider category style */
.embla {
    margin: auto;
    --slide-height: 5rem;
    --slide-spacing: 1rem;
    --slide-size: 20%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    background-color: aqua;
    flex: 2 2 var(--slide-size);
    min-width: 0;
    margin: 2px;
    padding-right: var(--slide-spacing);
    padding-left: var(--slide-spacing);
  }
  .embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
  }
  .slick-arrow:before{
    color: red;
    font-size: 50px;
  }
  