
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.buttons-container h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.btn.test-completed::after,
.btn.test-completed::before {
  content: "category";
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.5;

  transition: all 400ms;
  top: 0;
}

.btn.btn.test-completed:hover::after {
  top: -36px;
}

.btn.test-completed::before {
  content: "add to favorites";
  top: 36px;
}

.btn.btn.test-completed:hover::before {
  top: 0;
}